{
	"reporter": [
		"lcov",
		"text"
	],
	"include": [
		"src/**/*.js"
	],
	"exclude": [
		"node_modules",
		"bin",
		"coverage",
		"test",
		"**/config/**",
		"**/helpers/models.**.js",
		"**/server.js",
		"src/app.js"
	],
	"sourceMap": false,
	"instrument": false,
	"cache": true,
	"all": true,
	"extension": [
		".js"
	]
}
